apiVersion: v1
kind: Service
metadata:
  name: eks-version-exporter
  namespace: $(kubernetes-namespace)
  labels:
    app: eks-version-exporter
    project: selfservice
    department: cloudengineering
    component: eks-version-exporter
spec:
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
  selector:
    app: eks-version-exporter
