apiVersion: v1
kind: Service
metadata:
  name: eks-version-exporter
  namespace: $(kubernetes-namespace)
  annotations:
    prometheus.io/scrape: 'true'
  labels:
    app: eks-version-exporter
    project: selfservice
    department: devex
    component: eks-version-exporter
    scrape-service-metrics: "true"
spec:
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
  selector:
    app: eks-version-exporter
